<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secure QR Parse</title>
    <link rel="stylesheet" type="text/css" href="/static/src/styles.css">
</head>
<body>
    <h1>Upload a QR Code to Scan:</h1>
    <p class="italicStyle">Allowed file types: png, jpg, jpeg, gif</p>
    <form method="POST" enctype="multipart/form-data" action="/upload">
        <input type="file" name="file">
        <input type="submit" value="Upload">
    </form>
</body>
</html>